*.cubemap filter=lfs diff=lfs eol=lf merge=lfs -text
*.unitypackage filter=lfs diff=lfs eol=lf merge=lfs -text
*.3dm filter=lfs diff=lfs eol=lf merge=lfs -text
*.3ds filter=lfs diff=lfs eol=lf merge=lfs -text
*.blend filter=lfs diff=lfs eol=lf merge=lfs -text
*.c4d filter=lfs diff=lfs eol=lf merge=lfs -text
*.collada filter=lfs diff=lfs eol=lf merge=lfs -text
*.dae filter=lfs diff=lfs eol=lf merge=lfs -text
*.dxf filter=lfs diff=lfs eol=lf merge=lfs -text
*.FBX filter=lfs diff=lfs eol=lf merge=lfs -text
*.fbx filter=lfs diff=lfs eol=lf merge=lfs -text
*.jas filter=lfs diff=lfs eol=lf merge=lfs -text
*.lws filter=lfs diff=lfs eol=lf merge=lfs -text
*.lxo filter=lfs diff=lfs eol=lf merge=lfs -text
*.ma filter=lfs diff=lfs eol=lf merge=lfs -text
*.max filter=lfs diff=lfs eol=lf merge=lfs -text
*.mb filter=lfs diff=lfs eol=lf merge=lfs -text
*.obj filter=lfs diff=lfs eol=lf merge=lfs -text
*.ply filter=lfs diff=lfs eol=lf merge=lfs -text
*.skp filter=lfs diff=lfs eol=lf merge=lfs -text
*.stl filter=lfs diff=lfs eol=lf merge=lfs -text
*.ztl filter=lfs diff=lfs eol=lf merge=lfs -text
*.aif filter=lfs diff=lfs eol=lf merge=lfs -text
*.aiff filter=lfs diff=lfs eol=lf merge=lfs -text
*.bank filter=lfs diff=lfs eol=lf merge=lfs -text
*.it filter=lfs diff=lfs eol=lf merge=lfs -text
*.mod filter=lfs diff=lfs eol=lf merge=lfs -text
*.mp3 filter=lfs diff=lfs eol=lf merge=lfs -text
*.ogg filter=lfs diff=lfs eol=lf merge=lfs -text
*.s3m filter=lfs diff=lfs eol=lf merge=lfs -text
*.wav filter=lfs diff=lfs eol=lf merge=lfs -text
*.xm filter=lfs diff=lfs eol=lf merge=lfs -text
*.asf filter=lfs diff=lfs eol=lf merge=lfs -text
*.avi filter=lfs diff=lfs eol=lf merge=lfs -text
*.flv filter=lfs diff=lfs eol=lf merge=lfs -text
*.mov filter=lfs diff=lfs eol=lf merge=lfs -text
*.mp4 filter=lfs diff=lfs eol=lf merge=lfs -text
*.mpeg filter=lfs diff=lfs eol=lf merge=lfs -text
*.mpg filter=lfs diff=lfs eol=lf merge=lfs -text
*.ogv filter=lfs diff=lfs eol=lf merge=lfs -text
*.wmv filter=lfs diff=lfs eol=lf merge=lfs -text
*.bmp filter=lfs diff=lfs eol=lf merge=lfs -text
*.exr filter=lfs diff=lfs eol=lf merge=lfs -text
*.gif filter=lfs diff=lfs eol=lf merge=lfs -text
*.hdr filter=lfs diff=lfs eol=lf merge=lfs -text
*.iff filter=lfs diff=lfs eol=lf merge=lfs -text
*.jpeg filter=lfs diff=lfs eol=lf merge=lfs -text
*.jpg filter=lfs diff=lfs eol=lf merge=lfs -text
*.pict filter=lfs diff=lfs eol=lf merge=lfs -text
*.png filter=lfs diff=lfs eol=lf merge=lfs -text
*.psd filter=lfs diff=lfs eol=lf merge=lfs -text
*.tga filter=lfs diff=lfs eol=lf merge=lfs -text
*.tif filter=lfs diff=lfs eol=lf merge=lfs -text
*.tiff filter=lfs diff=lfs eol=lf merge=lfs -text
*.webp filter=lfs diff=lfs eol=lf merge=lfs -text
*.7z filter=lfs diff=lfs eol=lf merge=lfs -text
*.bz2 filter=lfs diff=lfs eol=lf merge=lfs -text
*.gz filter=lfs diff=lfs eol=lf merge=lfs -text
*.rar filter=lfs diff=lfs eol=lf merge=lfs -text
*.tar filter=lfs diff=lfs eol=lf merge=lfs -text
*.zip filter=lfs diff=lfs eol=lf merge=lfs -text
*.dll filter=lfs diff=lfs eol=lf merge=lfs -text
*.pdb filter=lfs diff=lfs eol=lf merge=lfs -text
*.so filter=lfs diff=lfs eol=lf merge=lfs -text
*.otf filter=lfs diff=lfs eol=lf merge=lfs -text
*.ttf filter=lfs diff=lfs eol=lf merge=lfs -text
*.apk filter=lfs diff=lfs eol=lf merge=lfs -text
*.exe filter=lfs diff=lfs eol=lf merge=lfs -text
*.pdf filter=lfs diff=lfs eol=lf merge=lfs -text
*.a filter=lfs diff=lfs eol=lf merge=lfs -text
*.rns filter=lfs diff=lfs eol=lf merge=lfs -text
*.reason filter=lfs diff=lfs eol=lf merge=lfs -text
*.bundle filter=lfs diff=lfs eol=lf merge=lfs -text
